.mRow{
    width:60%;
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 0;
    float: left;
}

.mCell{
    display: inline-block;
    width:25%;
    padding:3px 0;
    font-size:1.2em;
}

.mCell_d{
    display: inline-block;
    width: 50%;
    padding:3px 0;
    font-size:1.2em;
}

.compButtons{
    width: 25%; 
    float: left;
}

.compButtons button{
    margin: 2px 5px;
}